---
showCard: true
title: Personal Portfolio
shortTitle: Portfolio
styles:
- "/assets/css/index.css"
- "/assets/css/project-card.css"
nav:
  customContainer: true
---
<div class="background-wrapper">
    <div class="background-top"></div>
    <div class="background-bottom"></div>
    <div class="background-bottom-fill"></div>
</div>
<main>
  <div class="lead-wrapper">
      <div class="lead">
          <h1>Joseph Azevedo</h1>
          <h2>CS Student, Georgia Tech</h2>
          <h3>Concentration in <span class="font-weight-bold">Information Internetworks</span>
              &amp; <span class="font-weight-bold">Media</span></h3>
      </div>
  </div>
  <div class="featured container light-text">
    <h1>Featured Projects <a class="btn btn-primary ml-2 mb-1" href="/projects">View All</a></h1>
    <div class="row project-container px-3 px-md-0">
        {% assign sorted = site.projects | sort: 'importance' | reverse %}
        {% for project in sorted limit: 3 %}
            <div class="col-12 col-md-6 col-xl-4 position-relative">
                {% include project-card.html project=project %}
            </div>
        {% endfor %}
    </div>
  </div>
</main>
