---
title: Projects
styles:
- "/assets/css/project-card.css"
nav:
  sticky: true
---
<main class="light-text">
    <div class="py-5 container">
        <h1>Projects</h1>
        <p class="mb-0">Click on a project to view details</p>
        <div class="row mt-2 project-container px-3 px-md-0">
            {% assign sorted = site.projects | sort: 'importance' | reverse %}
            {% for project in sorted %}
                <div class="col-12 col-md-6 col-xl-4 position-relative">
                    {% include project-card.html project=project %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>
