@import '../../scss/extend';

.error-content {
    h1 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.8;
    }

    hr {
        @extend %short-hr;
    }
}
