html,
body,
.resume-layout {
    height: 100vh;
}

.pdf-wrapper {
    background-color: #525659;
    overflow-y: hidden;
}

.resume-layout .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    main {
        flex-grow: 1;
    }

    .pdf-wrapper {
        height: 100%;
        position: relative;
    }
}
