html, body, .resume-layout {
    height: 100vh;
}

.pdf-wrapper {
    background-color: #525659;
    overflow-y: hidden;
}

.resume-layout, .resume-layout main {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
        flex-grow: 0;
    }

    & > *:last-child {
        flex-grow: 1;
    }
}
