@import '../../scss/media';
@import '../../scss/colors';
@import '../../scss/util';
@import '../../scss/theme';

div.project-card {
    background-color: $-light;
    margin: 6px 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

    box-shadow: $drop-shadow;

    @include card-config(sm,   2, 12px);
    @include card-config(lg,   3, 12px);

    a {
        cursor: pointer;
    }

    &:hover {
        .description {
            height: 100% !important;
        }
    }

    .card-top {
        height: 240px;
        background-color: $-secondary;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        a {
            width: 100%;
            height: 100%;
            opacity: 1 !important;
        }

        .fill-card-top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .overlay {
            background-color: rgba(darken($-secondary, 12%), 0.7);;
            transition: background-color .5s ease;
        }

        &:hover {
            .overlay {
                background-color: rgba(darken($-secondary, 20%), 0.7);
            }
        }

        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($-secondary, 0.8);
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            color: $-light;

            .inner {
                padding: 24px;
                font-size: 1.1rem;
            }
        }

        .logo-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 2rem;
            color: $-light;

            h2 {
                margin-bottom: -0.5rem;
                text-shadow: 0 0 20px black;
                line-height: 2rem;
                font-size: 2rem;
            }

            img {
                max-width: 200px;
                max-height: 100px;
                width: 100%;
                height: auto;
                font-size: 0;
                /* Add drop shadow */
                filter: drop-shadow( 0 0 8px rgba(black, .45));
            }
        }
    }

    .label {
        text-align: center;
        padding: 16px;
        position: relative;
        text-decoration: none;

        a {
            color: $-dark;
            outline: none;

            span {
                border-bottom: 2px solid transparent;
            }

            &:focus {
                span {
                    border-bottom-color: $-tertiary;
                }
            }

            &:hover, &:active {
                * {
                    color: $-tertiary;
                    opacity: 0.9;
                }
            }

            h2 {
                margin-bottom: 0.35rem;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
