{% assign hasCard = false %}
{% assign card = null %}
{% assign hasLogo = false %}
{% assign logo = null %}
{% capture cardLocation %}_projects/{{ include.project.slug }}/card{% endcapture %}
{% capture logoLocation %}_projects/{{ include.project.slug }}/logo{% endcapture %}
{% capture relative %}/projects/{{ include.project.slug }}/{% endcapture %}
{% assign pngCard = cardLocation | append: '.png' %}
{% assign jpgCard = cardLocation | append: '.jpg' %}
{% assign svgCard = cardLocation | append: '.svg' %}
{% assign pngLogo = logoLocation | append: '.png' %}
{% assign jpgLogo = logoLocation | append: '.jpg' %}
{% assign svgLogo = logoLocation | append: '.svg' %}
{% for coll in site.collections %}
    {% if coll.label == "projects" %}
        {% for file in coll.files %}
            {% if file.path == pngCard or file.path == jpgCard or file.path == svgCard %}
                {% assign hasCard = true %}
                {% assign card = relative | append: file.name %}
            {% elsif file.path == pngLogo or file.path == jpgLogo or file.path == svgLogo %}
                {% assign hasLogo = true %}
                {% assign logo = relative | append: file.name %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
<div class="project-card" {% if hasCard %}style="background-image: url('{{ card }}')"{% endif %}>
     <a href="{{ include.project.url }}">
        {% if hasCard %}
            <div class="overlay">
        {% endif %}
            <div class="logo-container">
                {% if hasLogo %}
                    <img src="{{ logo }}" alt="{{ include.project.title }} logo">
                {% else %}
                    <!-- TODO add alternative text -->
                {% endif %}
            </div>
            {% if include.project.description %}
                <div class="description">
                    <div class="inner text-left">
                        <h3>{{ include.project.title }}</h3>
                        <p>{{ include.project.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% if hasCard %}
            </div>
        {% endif %}
     </a>
</div>
<div class="label">
    <a class="stretched-link" href="{{ include.project.url }}"><h2>{{ include.project.type }}</h2></a>
    <div>
        {% for technology in include.project.technologies.main %}
            <span class="badge badge-pill badge-secondary">{{ technology }}</span>
        {% endfor %}
    </div>
</div>
