@import '../../scss/theme';

html,
body,
.site-wrapper {
    min-height: 100vh;
}

.noscript-alert {
    z-index: 300000;
    box-shadow: $drop-shadow;
    .container {
        align-items: center;
        justify-content: start;
    }
}

.nav-container {
    &.sticky-scroll {
        z-index: 3000000;
        position: sticky;
        right: 0;
        left: 0;
        top: 0;
    }
}

.site-wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
