@import '../../scss/colors';

$base-padding: 0.225em;
$base-font-size: 95%;
$base-font-weight: 400;
$base-margin: 0.15em;

$top-padding-adjust: 0.125em;
$side-padding-adjust: 0.3em;

.topic {
    display: inline-block;
    padding: ($base-padding + $top-padding-adjust) ($base-padding + $side-padding-adjust) $base-padding;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10rem;
    margin: $base-margin;
    border: solid 2px transparent;
}

.topic-main {
    color: $-light;
    background-color: $-secondary;
    border-color: $-secondary;
}

.topic-secondary {
    color: $-light;
    background-color: rgba($-primary, 0.15);
    border-color: $-primary;
}
