body {
    position: relative;
}

/* Clear navbar */
nav.navbar {
    background-color: transparent;
    position: absolute!important;
    width: 100%;
}

/* Background blue triangle */
.background-top {
    background-image: url('/assets/img/header-background.svg');
    background-position-y: -32px;
    background-size: 2500px 750px;
    position: absolute;
    top: 0;
}

/* Background blue triangle on bottom */
.background-bottom {
    background-image: url('/assets/img/footer-background.svg');
    background-position-y: top;
    background-size: cover;
    position: relative;
    margin-top: 380px;
}

.background-wrapper {
    width: 100%;
    position: absolute;
    min-height: 100vh;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-wrapper > *:not(.background-bottom-fill) {
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 0;
    flex-grow: 0;
    width: 100%;
    height: 750px;
}

.background-wrapper > .background-bottom-fill {
    background-color: #252E44;
    width: 100%;
    flex-grow: 1;
}

/* Lead text styles */
.lead-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 294px;
}
.lead {
    width: 1280px;
    color: #F7F8F8;
    font-family: "futura-pt", sans-serif;
    padding: 0 25px;
}
.lead h1 {
    font-weight: 500;
    font-size: 5.2rem;
    margin-bottom: 0.3em;
    line-height: 3.6rem;
}
.lead h2 {
    font-weight: 300;
    font-size: 2.4rem;
    margin-bottom: 0;
    line-height: 2.1rem;
}
.lead h3 {
    font-weight: 300;
    font-size: 1.35rem;
}

/* Navbar styles */
nav {
    margin-bottom: -96px;
    z-index: 2;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}
.nav-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.nav-container > div.inner {
    max-width: 1500px;
    width: 100%;
    padding: 20px 10px 20px 30px;

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.featured {
    margin-top: 8rem;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
    z-index: 100;
}
.featured h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.featured h1 > a.btn {
    font-size: 1.2rem!important;
}

/* 1080p config */
@media(max-width: 1920px) {
    .background-top {
        background-size: 2100px 620px!important;
        height: 620px!important;
    }
    .background-bottom {
        margin-top: 350px;
    }
    .lead-wrapper {
        padding-top: 204px;
    }
    .lead {
        width: 1150px;
    }
    .nav-container > div.inner {
        max-width: 1200px;
    }
    .featured {
        margin-top: 5.5rem;
    }
    .featured h1 {
        font-size: 2.42rem;
        margin-bottom: 0.5rem;
    }
}
@media(max-width: 1150px) {
    /* Modify font sizes */
    .lead h1 {
        font-size: 4.5rem;
    }
    .lead h2 {
        font-size: 2rem;
    }
    .lead h3 {
        font-size: 1.1rem;
    }
    /* Fill more height on smaller screens */
    .background-top {
        background-position-x: -540px!important;
        background-size: 2100px 550px!important;
    }
    .background-bottom {
        margin-top: 380px;
    }
    /* Add left padding */
    .lead {
        padding: 0 10px 0 40px;
    }
}
@media(max-width: 767.95px) {
    /* Style navbar dropdown */
    button.navbar-toggler:not(.collapsed) {
        background-color: rgb(33, 40, 59);
        border: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    button.navbar-toggler:not(.collapsed):after {
        background-color: rgb(33, 40, 59);
        content: " ";
        position: absolute;
        top: 59px;
        height: 20px;
        width: 54px;
        right: 10px;
    }
    .navbar-collapse {
        margin-top: 18px;
        background-color: rgb(33, 40, 59);
        padding: 8px 12px 20px 28px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
    }
}
@media(max-width: 575.95px) {
    /* Change background position for small screen */
    .background-top {
        background-position-x: -620px!important;
    }
    /* Lessen padding */
    .lead {
        padding: 0 25px;
    }
    .lead-wrapper {
        padding-top: 160px;
    }
    .nav-container > div.inner {
        padding-left: 10px;
    }
}
