html {
    height: 100vh;
    background-color: rgb(33, 40, 59);
}

.head {
    padding-top: 3em;
    padding-bottom: 4em;
    max-width: 650px;
    position: relative;
}

.head .icon {
    position: absolute;
    top: 20px;
    left: -85px;
    height: 300px;
    width: 300px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.04;
    pointer-events: none;
}

.subhead {
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.6em;
    line-height: 0.95em;
}

.dates {
    margin-bottom: 1.4em;
}
.dates > div > p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: -8px;
    font-family: "futura-pt", sans-serif;
}
.dates > div > p:first-child {
    opacity: 0.6;
}
.dates > div:first-child {
    margin-right: 4em;
}

.lead-text,
.lead-text * {
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.65rem;
}
.lead-text {
    margin-bottom: 1.8em;
}

.topics .badge.badge-main {
    background-color: #5d5766;
    font-weight: 500;
}
.topics .badge.badge-secondary {
    background-color: rgba(159, 98, 119, 0.15);
    border: solid 2px #9f6277;
}

.buttons {
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 1.5em;
}

.buttons .btn {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 12px;
}

.btn .button-image {
    margin-top: -4px;
}

img:not(.brand-img):not(.button-image) {
    border-radius: 8px!important;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);
}

figure.figure img.figure-img:not(.brand-img) {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
}

figure.figure figcaption.figure-caption {
    padding: 10px 16px;
    background-color: #252E44;
    border: solid 1px #2F3B56;
    border-top: none;
    color: #F7F8F8;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
}

figure.figure {
    display: table;
    margin-bottom: 1.2rem;
}
figure.figure figcaption.figure-caption {
    display: table-caption;
    caption-side: bottom;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3);
}

main {
    z-index: 1;
    position: relative;
}

body {
    position: relative;
}

.project-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.project-content h2 {
    margin-top: 2.5rem;
}

.background-top {
    background-image: url('/assets/img/project-background.svg');
    background-position-x: center;
    background-position-y: -32px;
    background-size: 2500px 800px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 0;
    flex-grow: 0;
    width: 100%;
    height: 800px;
}
@media(max-width: 1150px) {
    /* Fill more height on smaller screens */
    .background-top {
        background-position-x: -700px!important;
        background-size: 2700px 800px!important;
    }
}
