html, body {
    height: 100vh;
    overflow-y: hidden;
}
.pdf-wrapper {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
body > *:not(main) {
    flex-grow: 0;
}
body > main {
    flex-grow: 1;
}

.controls-bar {
    background-color: rgb(33, 40, 59);
    padding-left: 0;
    padding-right: 0;
}
