---
title: Resume Source Code
shortTitle: Resume Source
parent: "/resume"
styles:
  - "/assets/css/resume.css"
  - "/assets/css/code.css"
  - "/assets/vendor/atom-one-dark.css"
---
<div class="navbar navbar-dark controls-bar">
    <div class="container">
        <form class="form-inline my-0 my-sm-2">
            <a class="btn btn-secondary my-1 my-sm-0 mr-3" href="/resume">
                <i class="fas fa-chevron-left mr-2"></i>
                Back</a>
            <a class="btn btn-primary my-1 my-sm-0" href="https://www.overleaf.com/read/yjnpqvnbkrdg"
               target="_blank" rel="noopener">
                <img src="/assets/img/overleaf-icon.svg" class="mr-2" height="20"/>
                View&nbsp;on&nbsp;Overleaf</a>
        </form>
    </div>
</div>
{% capture tex %}{% include src/resume.tex %}{% endcapture %}
{% include code.full.html content=tex %}
