<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="{{ site.data.global.colors.primary }}">
    <!-- Icon meta tags -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="{{ site.data.global.colors.secondary }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
    <!-- Site-universal content meta -->
    <meta property="og:image" content="/assets/img/thumbnail.png">
    <meta name="description" content="{{ site.data.global.seo.description }}">
    <meta property="og:description" content="{{ site.data.global.seo.description }}">
    <!-- Content meta -->
    <title>Joseph Azevedo | {% if page.shortTitle %}{{ page.shortTitle }}{% else %}{{ page.title }}{% endif %}</title>
    <meta name="og:title" property="og:title" content="{{ page.title }}">
    {% if page.showCard %}
    <meta name="twitter:card" content="/assets/img/preview-card.png">
    {% endif %}
    <!-- Head styles -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ebb8dry.css">
    <link rel="stylesheet" href="/assets/fonts/keepcalm/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/base.css">
    <!-- Inject per-page style(s) -->
    {% if page.styles %}
        {% for item in page.styles %}
            <link rel="stylesheet" href="{{ item }}">
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include nav.html %}
    {{ content }}
<!-- Footer scripts -->
<script src="/assets/vendor/jquery-3.4.1.slim.min.js"></script>
<script src="/assets/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/base.js"></script>
</body>
</html>
