---
layout: master
---
<div class="container breadcrumb-container light-text">
  <nav aria-label="breadcrumb">
    {% comment %}
    Credit to Bernhard Grünewaldt (csgruenebe) for the original and
    Daryl Hepting (dhhepting) for their fork:

    https://gist.github.com/csgruenebe/8f7beef9858c1b8625d6
    --------------------------------------------------------------------------------
    Updated for boostrap 4 
    -- https://getbootstrap.com/docs/4.0/components/breadcrumb/ --
    and does not create a link for the last (active) item
    {%- endcomment -%}
    {%- assign url_parts = page.url | split: '/' -%}
    {%- capture loop_max -%}{{ url_parts.size | minus: 1 }}{%- endcapture -%}
    {%- assign j = loop_max | plus: 0 -%}
    {%- assign bc_path = "/" -%}
    {%- comment -%}
      the result of following assignment (if successful) will be an array, 
      so bc_page[0] is used to get the page corresponding to the path
    {%- endcomment -%}
    {%- assign bc_page = site.pages | where: "url", bc_path -%}
    <ol class="breadcrumb card-header">
      <li class="breadcrumb-item">
        <a href="{{ bc_path | relative_url }}">
          {% if bc_page[0].breadcrumb %}{{ bc_page[0].breadcrumb }}
          {% elsif bc_page[0].title %}{{ bc_page[0].title }}
          {% elsif bc_page[0].shortTitle %}{{ bc_page[0].shortTitle }}{% endif %}
        </a>
      </li>
    {%- for i in (1..loop_max) -%}
      {%- capture bc_path -%}{{bc_path}}{{url_parts[i]}}{%- endcapture -%}
      {%- unless bc_path contains ".html" -%}
        {%- capture bc_path -%}{{bc_path}}/{%- endcapture -%}
      {%- endunless -%}
      {%- comment -%}
        the result of following assignment (if successful) will be an array,
        so bc_page[0] is used to get the page corresponding to the path
      {%- endcomment -%}
      {%- assign bc_page = site.pages | where: "url", bc_path -%}
      {% comment %}The filter can fail, so try again without the trailing slash on the URL{% endcomment %}
      {% capture emptytest %}{{ bc_page }}{% endcapture %}
      {% if emptytest == "" %}
        {% comment %}
        Split the URL and remove all empty parts (first and last)
        {% endcomment %}
        {% assign bc_path_parts = bc_path | split: "/" %}
        {% assign non_empty = '' | split: '' %}
        {% for bc_path_part in bc_path_parts %}
          {% unless bc_path_part == "" %}
            {% comment %}
            Use / because that cannot appear in the substring
            {% endcomment %}
            {% assign non_empty_part = bc_path_part | split: '/' %}
            {% assign non_empty = non_empty | concat: non_empty_part %}
          {% endunless %}
        {% endfor %}
        {% comment %}
        Build the URL back up, adding a / before each item (but not after!)
        {% endcomment %}
        {% assign modified_url = '' %}
        {% for segment in non_empty %}
          {% capture slash_segment %}/{{ segment }}{% endcapture %}
          {% assign modified_url = modified_url | append: slash_segment %}
        {% endfor %}
        {%- assign bc_page = site.pages | where: "url", modified_url -%}
      {% endif %}
      {% if bc_page and i < j %}
        <li class="breadcrumb-item">
          <a href="{{ bc_path | relative_url }}">
            {% if bc_page[0].breadcrumb %}{{ bc_page[0].breadcrumb }}
            {% elsif bc_page[0].title %}{{ bc_page[0].title }}
            {% elsif bc_page[0].shortTitle %}{{ bc_page[0].shortTitle }}{% endif %}
          </a>
        </li>
      {% elsif bc_page and i == j %}
        <li class="breadcrumb-item active">
          {% if page.breadcrumb %}{{ page.breadcrumb }}
          {% elsif page.title %}{{ page.title }}
          {% elsif page.shortTitle %}{{ page.shortTitle }}{% endif %}
        </li>
      {% endif %}
    {%- endfor -%}
    </ol>
  </nav>
</div>
{{ content }}
