@import './colors';

%short-hr {
    max-width: 100px;
    margin: {
        left: 0;
        right: 0;
        bottom: 2rem;
        top: 2rem;
    }
    border-top: 2px solid rgba($-light, 0.75);
}
