/* ? Web font license file: /font/renner/license.txt */

/* Light */
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-light-webfont.woff2') format('woff2'),
         url('/font/renner/renner-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-lightitalic-webfont.woff2') format('woff2'),
         url('/font/renner/renner-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


/* Book */
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-book-webfont.woff2') format('woff2'),
         url('/font/renner/renner-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-bookitalic-webfont.woff2') format('woff2'),
         url('/font/renner/renner-bookitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


/* Medium */
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-medium-webfont.woff2') format('woff2'),
         url('/font/renner/renner-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-mediumitalic-webfont.woff2') format('woff2'),
         url('/font/renner/renner-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


/* Bold */
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-bold-webfont.woff2') format('woff2'),
         url('/font/renner/renner-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Renner*';
    src: url('/font/renner/renner-bolditalic-webfont.woff2') format('woff2'),
         url('/font/renner/renner-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
