%full-width {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

%abs-flush {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
