%full-width {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

%abs-flush {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@function blend($color1, $color2, $mu) {
    $c1R: red($color1);
    $c1G: green($color1);
    $c1B: blue($color1);
    $c1A: alpha($color1);

    $c2R: red($color2);
    $c2G: green($color2);
    $c2B: blue($color2);
    $c2A: alpha($color2);

    $muMinus: (1 - $mu);
    $r: ($c1R * $muMinus) + ($c2R * $mu);
    $g: ($c1G * $muMinus) + ($c2G * $mu);
    $b: ($c1B * $muMinus) + ($c2B * $mu);
    $a: ($c1A * $muMinus) + ($c2A * $mu);

    @return rgba($r, $g, $b, $a);
}

@mixin custom-font(
    $tag,
    $weight,
    $size,
    $small-size,
    $trail: '',
    $line-height: ''
) {
    #{$tag} {
        font-weight: $weight;
        font-size: $size;
        @if $trail != '' {
            margin-bottom: $trail;
        } @else {
            margin-bottom: 0;
        }
        @if $line-height != '' {
            line-height: $line-height;
        } @else {
            line-height: $size;
        }

        @include respond-below(lg) {
            font-size: $small-size;
        }
    }
}

@mixin transition($transition...) {
    transition: $transition;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

@mixin card-config($breakpoint, $count, $between) {
    @include respond-above($breakpoint) {
        & {
            margin: ($between / 2);
            $percent: (100% / $count);
            flex: 0 0 #{$percent};
            max-width: calc(#{$percent} - #{$between});
        }
    }
}
