@import './colors';
@import './theme';
@import './util';

// Options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 640px,
    lg: 960px,
    xl: 1140px,
) !default;

// Body
$body-bg: $-dark !default;
$body-color: $-light !default;
$inverse-bg: $-light !default;
$inverse-color: $-dark !default;

// Links
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
@import './fonts';

// Base Bootstrap
@import './bootstrap';

// Scrollbar style
@import './scroll';

html,
body {
    min-height: 100vh;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    border-top: 1px solid rgba($-light, 0.25);
}

.btn {
    cursor: pointer;
}

.noscript-alert {
    z-index: 300000;
    box-shadow: $drop-shadow;
    .container {
        align-items: center;
        justify-content: start;
    }
}

.nav-container {
    &.sticky-scroll {
        z-index: 3000000;
        position: sticky;
        right: 0;
        left: 0;
        top: 0;
    }
}

.alert-dark {
    color: $-light;
    background-color: rgba($-light, 0.1);
    border-color: rgba($-light, 0.2);
}

$link-color: lighten($-primary, 10%);
main a:not(.btn), article a:not(.btn) {
    color: $link-color;
    text-decoration: none;
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid rgba($link-color, 0.4);

    &:hover, &:focus {
        color: $link-color;
        border-bottom-color: $link-color;
    }
}

// ? ---------------
// ? Utility classes
// ? ---------------

.stripes-bg {
    background-image: url(/img/stripes.svg);
    background-size: 450px;
}
.fill-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-one-dark {
    background-color: $one-dark-background !important;
}
